aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-client-cache==0.13.0
aiosignal==1.4.0
annotated-types==0.7.0
appdirs==1.4.4
async-timeout==5.0.1
attrs==25.3.0
cattrs==25.2.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.0.4
crccheck==1.3.1
crcmod==1.7
exceptiongroup==1.3.0
Flask==2.0.3
frozenlist==1.7.0
HomeAssistant-API==5.0.1
idna==3.10
importlib-metadata==4.11.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
multidict==6.6.4
propcache==0.3.2
pydantic==2.8.2
pydantic_core==2.20.1
pyFIS==1.14.1
pyserial==3.5
requests==2.32.5
requests-cache==0.9.8
simplejson==3.20.1
typing_extensions==4.15.0
url-normalize==2.2.1
urllib3==2.5.0
websockets==14.2
Werkzeug==2.0.3
yarl==1.20.1
zipp==3.7.0
